// @import "normalize.css";
@import "reset";
@import "header";
@import "loader";

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main__inner {
  display: flex;
  padding: 20px 0 0 0;
}

.main {
  // display: flex;
  // padding-top: 51px;
  // padding-bottom: 51px;
  // padding-left: 122px;

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 5px;

    .card {
      padding: 16px;
      width: 214px;
      height: 360px;
      border: 1px black solid;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      transition-duration: 0.4s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      .card__inner {
        display: flex;
        flex-direction: column;
        .img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 200px;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .vertical-line {
    width: 10px;
    height: 921px;
    background: rgba(26, 31, 22, 0.5);
  }

  .cart {
    max-width: 300px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cart__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .card {
        max-width: 64px;
      }
    }

    h2 {
      margin-bottom: 30px;
      font-size: 39px;
    }

    .cart__action {
      background-color: black;
      padding: 8px 24px;
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;

      p {
        color: #fff;
        margin-left: 8px;
      }
    }
  }

  .discription {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .brand {
      font-size: 20px;
    }
    .model {
      font-size: 16px;
      letter-spacing: -0.32px;
      color: #60695c;
    }
    & p {
      margin-bottom: 8px;
    }
    .price-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart-btn {
        background-color: black;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        &:hover {
          cursor: pointer;
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }
}
