// @import "normalize.css";
@import "./reset.scss";


.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  background: #e1dddd;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 36px;
  width: 100%;

  .header_nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__logo {
    padding: 10px 30px;
    border-radius: 20px;
    background: black;
    color: #7af165;
    font-size: 42px;
  }

  .catalog__container {
    display: flex;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 3px 15px;
    margin-left: 50px;

    .catalog__icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .input__container {
    margin-left: 50px;
    width: 100%;
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px black solid;
      border-radius: 5px;

      .input__field {
        width: 100%;

        input {
          width: 100%;
          padding: 5px;
        }
      }

      & .input__icons:hover {
        cursor: pointer;
      }

      .input__icons {
        // background-color: #7af165;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }
  .nav-tabs {
    display: flex;
    margin-left: 50px;

    .nav-tab {
      text-decoration: none;
      color: black;
      font-size: 15px;
      padding: 3px;
      border-radius: 5px;
      letter-spacing: -0.54px;
      display: flex;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
      }
    }

    .nav-tab:not(:first-child) {
      margin-left: 10px;
    }

    .nav-tab:hover {
      cursor: pointer;
      background-color: #7af165;
    }
    .lable-enter, .lable-cart, .lable-exit {
      white-space: nowrap;
      display: inline-block;
    }
  }
}
.wrap-product {
  display: flex;
  padding-top: 51px;
  padding-bottom: 51px;
  padding-left: 122px;

  .row {
    display: flex;
    // align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 5px;

    .card {
      padding: 16px;
      width: 214px;
      height: 360px;
      border: 1px black solid;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      
      .card__inner {
        display: flex;
        flex-direction: column;
        .img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 200px;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .card:hover {
      cursor: pointer;
      background-color: #7af165;
    }
  }

  .vertical-line {
    width: 10px;
    height: 921px;
    background: rgba(26, 31, 22, 0.5);
  }

  .cart {
    max-width: 100%;
    padding-left: 91px;
    padding-right: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;


    h2 {
      margin-bottom: 30px;
    }

    .wrapper-btn-cart {
      background-color: black;
      padding: 8px 24px;
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;

      p {
        color: #fff;
        margin-left: 8px;
      }
    }
  }

  .discription {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .brand {
      font-size: 20px;
    }
    .model {
      font-size: 16px;
      letter-spacing: -0.32px;
      color: #60695c;
    }
    & p {
      margin-bottom: 8px;
    }
    .price-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart-btn {
        background-color: black;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
      }
      & .cart-btn:hover {
        cursor: pointer;
      }
    }
  }
}
